/*
 * The Happy Papa Home Blog CSS
 * Copyright (c) 2018 Daniel Widyanto <daniel.widyanto@kwaa.name>
 *
 * Color scheme: http://colorpalettes.net/color-palette-3619/
 * 
 */

/* Common elements ----------------------------------------------------------*/
body {
	margin: 0;
}

a {
	color: #2d227d;
}

#main-container {
	padding: 1rem 0.5rem;

	font: 14px 'Quattrocento Sans', sans-serif;
	color: #330203;

	background-color: #f3cc80;
	background-image: url("/static/image/black-paper.png");
}

header, footer {
	padding: 1rem 0.5rem;
	margin: 1rem 0;

	background-color: rgba(206, 184, 139, 0.5) /* #ceb88b80.. MS Edge cannot handle Alpha channel */;
}

header h1, header h2, footer p {
	text-align: center;
	margin: 0;
}

header h1 {
	font: 20px 'Rock Salt', cursive;
}

header h2 {
	font: 14px 'Merriweather', serif;
}

#load-more {
	display: block;

	margin: auto 0.4rem;
	padding: 1rem;

	border-radius: 14px;
	background-color: #330203;

	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #ceb88b;
}

/* App container ------------------------------------------------------------*/
#app {
	padding: 1rem 0.5rem;

	background-color: rgba(206, 184, 139, 0.5); /* #ceb88b80.. MS Edge cannot handle Alpha channel */

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-template-areas:
			"w"
			"c";
}

#contents {
	grid-area: c;
}

#widgets {
	grid-area: w;
}

#contents-post {
	grid-area: c;
}

/* VueJS components ---------------------------------------------------------*/
.card, .postcard, .post {
	margin: 0.8rem 0.4rem;

	background-color: rgba(240, 237, 231, 0.57);
	border: 1px solid #a19b8f;
	border-radius: 14px;
}

.card img, .postcard img {
	display: block;
	width: 100%;
	border-radius: 14px 14px 0 0;
}

.card h3, .postcard h3 {
	font: 22px 'Merriweather', serif;
	margin: 0.8rem; 
}

.card p, .postcard p {
	font: 16px 'Quattrocento Sans', sans-serif;
	margin: 0.8rem;
}

.card h3 a, .postcard h3 a, .post h4 a {
	text-decoration: none;
	color: inherit;
}

.post .featured-img {
	display: block;
	width: 100%;
	border-radius: 14px 14px 0 0;
}

.post h3 {
	font: 30px 'Merriweather', serif;
	margin: 0.8rem 1.5rem; 
}

.post p {
	font: 18px 'Quattrocento Sans', sans-serif;
	margin: 1.5rem 1.5rem;
	line-height: 1.4rem;
}

.post nav {
	margin: 0.4rem 1.5rem;

	display: flex;
	justify-content: space-between;
}

.post nav h4 {
	font-size: 18px;
}

.post figure {
	margin: 0.8rem 1.5rem;
}

/* Media queries ------------------------------------------------------------*/
@media screen and (min-width: 768px) {
	/* Common elements ----------------------------------------------------------*/
	#main-container {
		padding: 1rem 1rem;
	}

	header, footer {
		padding: 1rem 1.5rem;
	}

	header h1 {
		font-size: 40px;
	}

	header h2 {
		font-size: 28px;
	}

	footer p {
		font-size: 16px;
	}
	/* App container ------------------------------------------------------------*/
	#app {
		padding: 1rem 1.5rem;

		grid-template-columns: repeat(12, 1fr);
		grid-template-areas:
			"c c c c c c w w w w w w";
	}
}

@media screen and (min-width: 960px) {
	/* Common elements ----------------------------------------------------------*/
	header h1 {
		font-size: 52px;
	}

	header h2 {
		font-size: 30px;
	}

	/* App container ------------------------------------------------------------*/
	#app {
		grid-template-areas:
			"c c c c c c c c w w w w";
	}

	#contents {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
}

@media screen and (min-width: 1200px) {
	/* Common elements ----------------------------------------------------------*/
	header h1 {
		font-size: 58px;
	}

	header h2 {
		font-size: 30px;
	}
	/* App container ------------------------------------------------------------*/
	#app {
		grid-template-areas:
			"c c c c c c c c c w w w";
	}

	#contents {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
